{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Country - Home</title>
    
    <!-- Bootstrap for Responsiveness -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>

    <!-- Navigation Bar -->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-links" href="/">
                    <img src="{% static 'images/guess-the-flag.png' %}" width="200" alt="Guess the Flag Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'leaderboard' %}" class="nav-link btn btn-secondary mx-2">Leaderboard</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'logout' %}" class="nav-link btn btn-danger mx-2">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="nav-link btn btn-primary mx-2">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'register' %}" class="nav-link btn btn-secondary mx-2">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Hero Section -->
    
    <main>
        <div class="hero">
            <h2>Welcome to Guess The Country!</h2>
            <p>Test your knowledge by guessing country flags.</p>
            <a href="{% url 'game' %}" class="btn-large">Play Now</a>
        </div>
    </main>
   

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
