{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Guess the Country</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}" class="home-btn">Home</a>
    </header>
    <div class="container">
        <div class="register-box">
            <img src="{% static 'images/guess-the-flag.png' %}"  width=340 alt="guess the flag logo">
            <form method="POST">
                {% csrf_token %}
                
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>


                <div class="input-group">
                    <label for="password1">Password</label>
                    <input type="password" id="password1" name="password1" required>
                </div>

                <div class="input-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" id="password2" name="password2" required>
                </div>

                {% if form.errors %}
                    <div class="error-box">
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <button type="submit" class="btn-register">Sign Up</button>

                <p class="login-link">Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>

</body>
</html>
